.hide-content {
    display: none;
}

body {
    font-family: 'Russo One';
    background-color: #bcb8b1; 
}

h1, h2, h4 {
    text-align: center;
    color: #463f3a;
}

p {
    text-align: center;
    color: #463f3a;
    font-size: 22px;
}

a {
    text-align: center;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    background-color: #eee4e1;
  }
  
  .card-img-top {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  .card-footer {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    margin: 10px;
  }

  .btn-primary {
    background-color: #463f3a;
    border-color: #3d3733;
  }

   .btn-primary:hover {
       background-color: #857970;
    border-color: #3d3733;
   }

  .card-body {
    background-color: #eee4e1;
  }

  .card-footer {
    background-color: #eee4e1;
  }

 .card-img-ready {
     height: 35vh;
     max-width: 35vw;
    align-self: center;
    padding-top:2%;
    }

#saveBtn {
    background-color: #463f3a;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
    border-color: #3d3733;
}

#saveBtn:hover {
    background-color: #857970;
        border-color: #3d3733;
}

