.hide-content {
    display: none;
}

.wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1366px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        background-color: #bcb8b1;
}

body {
    font-family: 'Russo One';
    /* background-color: #dad5cd;  */
    background-image: url("../images/mealflick_wallpaper.png");
    background-repeat: repeat;
    background-size: 355px 319px;
  
}

h1, h2, h4 {
    text-align: center;
    color: #463f3a;
}

h1, h2 {
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 1%;
}

.center {
    display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5%;
}

p {
    text-align: center;
    color: #463f3a;
    font-size: 20px;
}

a {
    text-align: center;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    background-color: #eee4e1;
  }
  
  .card-img-top {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  .card-footer {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    margin: 10px;
  }

  .btn-primary {
    background-color: #463f3a;
    border-color: #3d3733;
  }

   .btn-primary:hover {
       background-color: #857970;
    border-color: #3d3733;
   }

  .card-body {
    background-color: #eee4e1;
  }

  .card-footer {
    background-color: #eee4e1;
  }

 .card-img-ready {
     height: 35vh;
     max-width: 35vw;
    align-self: center;
    padding-top:2%;
    }

#saveBtn {
    background-color: #463f3a;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
    border-color: #3d3733;
}

#saveBtn:hover {
    background-color: #857970;
        border-color: #3d3733;
}

footer {
    padding-bottom:3%;
    padding-top: 3%;
}
